body {
    background-color: #011D3B;
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

nav {
    background-color: #052548;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: right;
}

.navegador {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    width: 95%;
}

.izquierda {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.derecha {
    display: flex;
    width: 30%;
    justify-content: right;
}


ul {
    height: 50px;
    margin: 0;
    padding: 0;
}

ul a {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 45px;
}

.carro {
    margin: 0;
    height: 50px;
}

.navegador a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones {
    display: flex;
}


/*Boton de iniciar sesión*/
.iniciar {
    background-color: white;
    border-radius: 3px;
    color: #013369;
    text-align: center;
    font-size: 20px;
    height: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

/*Boton de registrarse*/
.registrarse {
    background-color: #007bff;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

/*---CARRUSEL---*/

#contenedor {
    margin-top: 70px;
    background-color: #052548;
    height: 660px;
}

.swiper {
    width: 90%;
    height: 100%;
}

.swiper-wrapper {
    text-align: center;
}

.swiper-wrapper img {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.swiper-button-next,
.swiper-button-prev {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    /* ajusta al tamaño que desees */
    height: 50px;
    color: transparent;
    /* ocultar el icono original */
}

/* Imagen para la flecha derecha */
.swiper-button-next {
    background-image: url("../IMG/flecha_Derecha.svg");
    border-radius: 50%;
    border: 2px solid white;
    background-color: #011D3B;
}

/* Imagen para la flecha izquierda */
.swiper-button-prev {
    background-image: url("../IMG/flecha_Izquierda.svg");
    border-radius: 50%;
    border: 2px solid white;
    background-color: #011D3B;

}

.swiper-button-prev:hover {
    background-image: url("../IMG/flecha_izq.svg");
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;

}

.swiper-button-next:hover {
    background-image: url("../IMG/flecha_der.svg");
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
}

.swiper-pagination-bullet {
    background-color: white;
}

/*-----------------------------*/


/*-----APARTADO DE PELÍCULAS-----*/
#contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 25%;
    max-height: auto;
    margin: 2%;
    padding: 5px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
}

.card h2 {
    color: #013369;
    text-align: center;
}

.t1Cards {
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.card img {
    width: 100%;
    height: 520px;
}

.card p {
    text-align: justify;
}

.card:hover {
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}




/*----------------PIE DE PÁGINA----------------*/
footer {
    background-color: #052548;
}

footer p {
    margin: 0;
}

.logoFooter {
    width: 150px;
    height: 40px;
    float: left;
    margin: auto;
}

.padreFooter {
    display: flex;
    justify-content: space-between;
}

.imagenes {
    margin: auto;
}

.imagenes p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.hijoFooter a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
}

/*-----------------*/
.hijoFooter {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1%;
}

.hijoFooter p {
    margin-bottom: 8%;
    width: auto;
}

hr {
    width: 80%;
    height: 4px;
    background-color: white;
    border-radius: 3px;
}

.pie {
    text-align: center;
    text-decoration: none;
    color: white;
}

@media (max-width: 950px) {
    .swiper {
        width: 100%;
        height: 400px;
    }

    #contenedor {
        width: 100%;
        margin-top: 70px;
        background-color: #052548;
        height: 400px;
    }

    .card {
        max-width: 35%;
    }
}

@media (max-width: 768px) {

    .navegador img {
        height: 35px;
    }

    ul a {
        color: white;
        font-size: 13.5px;
        margin: 2px;
    }

    .botones {
        display: flex;
        flex-direction: column;
    }

    .iniciar,
    .registrarse {
        font-size: 10px;
        margin-bottom: 5px;
        height: 30px;
    }

    .card {
        max-width: 80%;
    }

    .card p {
        display: none;
    }

    #contenedor {
        width: 100%;
        margin-top: 70px;
        background-color: #052548;
        height: 250px;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper {
        text-align: center;
    }

    .swiper-pagination-bullet {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}